/*==========Google font===========*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');



/*=======================================
        Common Design style Css
=========================================*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary: #FF900E;
    --secondary: #FFF4E7;
    --dark1: #131313;
    --dark2: #424242;
    --dark3: #727272;
    --white: #FFFFFF;
    --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.primary__btn {
    padding: 18px 25px;
    border-radius: 8px;
    outline: none;
    border: transparent;
    background-color: var(--primary);
    margin-top: 17px;
    margin-bottom: 50px;
}

.primary__btn a {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
}


/*=======================================
        Header Menu Style Css
=========================================*/

.top__header {
    background-color: var(--secondary);

}

.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.logo__text {
    font-weight: 700;
    font-size: 35px;
    color: var(--dark1);
}

.nav__link li {
    display: inline;
    margin-left: 22px;
    font-size: 18px;
    font-weight: 500;
}

.nav__link li a {
    color: var(--dark2);
}

/*=======================================
        End Header Menu Style Css
=========================================*/



/*=======================================
        Hero Section Style Css
=========================================*/
.hero__section {
    background-color: var(--secondary);
    padding: 50px 0px;
    text-align: center;
}

.hero__section h1 {
    font-size: 64px;
    font-weight: 700;
}

.hero__section p {
    font-size: 16px;
    padding: 30px 0;
    color: var(--dark3);
    line-height: 26px;
}

.hero__section img {
    width: 100%;
}

/*=======================================
        End Hero Section Style Css
=========================================*/





/*=======================================
        Features Section Style Css
=========================================*/






/*=======================================
        End Features Section Style Css
=========================================*/