/*==========Google font===========*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');



/*=======================================
        Common Design style Css
=========================================*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary: #FF900E;
    --secondary: #FFF4E7;
    --dark1: #131313;
    --dark2: #424242;
    --dark3: #727272;
    --white: #FFFFFF;
    --black: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

p {
    color: var(--dark3);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.mt {
    margin-top: 80px;
}

.pt {
    padding-top: 80px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.primary__btn {
    padding: 18px 25px;
    border-radius: 8px;
    outline: none;
    border: transparent;
    background-color: var(--primary);
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
}


.sub__header {
    color: var(--dark1);
    font-weight: 700;
    font-size: 34px;

}



/*=======================================
        Header Menu Style Css
=========================================*/

.top__header {
    background-color: var(--secondary);

}

.main__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.logo__text {
    font-weight: 700;
    font-size: 35px;
    color: var(--dark1);
}

.nav__link li {
    display: inline;
    margin-left: 22px;
    font-size: 18px;
    font-weight: 500;
}

.nav__link li a {
    color: var(--dark2);
}

/*=======================================
        End Header Menu Style Css
=========================================*/



/*=======================================
        Hero Section Style Css
=========================================*/
.hero__section {
    background-color: var(--secondary);
    padding: 50px 0px;
    text-align: center;
}

.hero__section h1 {
    font-size: 64px;
    font-weight: 700;
}

.hero__section p {
    padding: 30px 0;
    margin-bottom: 20px;
}

.hero__section img {
    margin-top: 50px;
    width: 100%;
}

/*=======================================
        End Hero Section Style Css
=========================================*/





/*=======================================
        Features Section Style Css
=========================================*/
.features {
    padding: 100px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.features__item__img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.features__item__img img {
    width: 300px;
    height: 300px;
}

.dark_text_header {
    color: var(--dark3);
    font-weight: 500;
}

.color__text {
    color: var(--primary);
    text-transform: capitalize;
}


.features__item__text p {
    margin: 30px 0px 45px;
}

/*=======================================
        End Features Section Style Css
=========================================*/


/*===============================================
        Experience sharing section Style Css
=================================================*/
.share__experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}


.experience__info h2 {
    border-left: 5px solid var(--primary);
    padding-left: 20px;
    margin-bottom: 30px;
}

.experience__details {
    margin-top: 40px;
}

.experience__info_sub__header {
    border: 1px solid gray;
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px;
}

.experience__info_sub__header h3 {
    font-weight: 500;
    font-size: 20px;
}

.experience__img img {
    padding-left: 50px;
    width: 90%;
}

.experience__years {
    position: relative;
    top: -80px;
    left: -20px;
    background-color: var(--primary);
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    color: var(--white);
    font-size: 50px;
}

.experience__years h3 {
    color: var(--white);
}

.experience__years>p {
    color: var(--white);
}

/*===============================================
        End Experience sharing section Style Css
=================================================*/


/*===============================================
        Facts section Style Css
=================================================*/



/*===============================================
        End Facts section Style Css
=================================================*/